Repository AlexWayfer/alexwayfer.name: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, rubocop

remark:
  container:
    image: debian
  os_setup_script:
  - apt update && apt upgrade -y && apt install curl git make gcc -y
  - echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
  - echo 'eval "$(rbenv init -)"' >> ~/.bashrc
  - echo 'export PATH="$HOME/.nodenv/bin:$PATH"' >> ~/.bashrc
  ...

stylelint:
  container:
    image: debian
  os_setup_script:
  - apt update && apt upgrade -y && apt install curl git make gcc -y
  - echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
  - echo 'eval "$(rbenv init -)"' >> ~/.bashrc
  - echo 'export PATH="$HOME/.nodenv/bin:$PATH"' >> ~/.bashrc
  ...

eslint:
  container:
    image: debian
  os_setup_script:
  - apt update && apt upgrade -y && apt install curl git make gcc -y
  - echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
  - echo 'eval "$(rbenv init -)"' >> ~/.bashrc
  - echo 'export PATH="$HOME/.nodenv/bin:$PATH"' >> ~/.bashrc
  ...

rubocop:
  container:
    image: debian
  os_setup_script:
  - apt update && apt upgrade -y && apt install curl git make gcc -y
  - echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
  - echo 'eval "$(rbenv init -)"' >> ~/.bashrc
  - echo 'export PATH="$HOME/.nodenv/bin:$PATH"' >> ~/.bashrc
  ...

Return custom content of `~/.bashrc` into `os_setup` for CI
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Try to fix conditions for `rbenv` and `nodenv` existance
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Try to fix `rbenv` and `nodenv` setup in CI
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Return normal output for RuboCop in CI
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Remake `Data` from `OpenStruct` to `Hash`
  exe/compile/data.rb
  templates/pages/index.md.erb
  templates/pages/partials/project/date_and_duration.md.erb
  templates/pages/partials/project/dates_range.md.erb
  templates/pages/partials/project/description.md.erb
  templates/pages/partials/project/technologies.md.erb
  templates/pages/partials/project/title_with_link.md.erb
  templates/pages/partials/projects_list.md.erb
  templates/pages/partials/projects_list/commercial.md.erb
  templates/pages/projects.md.erb
Due: rubocop

Remove OpenStruct completely (I hope)
  exe/compile/data.rb
  exe/compile/pages_command.rb
  exe/compile/view_object.rb
  templates/pages/index.md.erb
  templates/pages/layout.html.erb
  templates/pages/partials/external_link.html.erb
  templates/pages/partials/project/date_and_duration.md.erb
  templates/pages/partials/project/dates_range.md.erb
  templates/pages/partials/project/description.md.erb
  templates/pages/partials/project/technologies.md.erb
  templates/pages/partials/project/title_with_link.md.erb
  templates/pages/partials/projects_list.md.erb
  templates/pages/partials/projects_list/commercial.md.erb
  templates/pages/partials/projects_list/job_tests.md.erb
  templates/pages/partials/projects_list/personal.md.erb
  templates/pages/partials/svg_icon.html.erb
  templates/pages/projects.md.erb
  templates/pdf/partials/layout.html.erb
Due: rubocop

Resolve the last RuboCop's offense! (I hope)
  exe/compile/pages_command.rb
Due: rubocop

Add Yasno.live to commercial projects
  data/projects/commercial.yaml
  templates/pages/index.md.erb
Due: none

Add links to projects from the index page
  templates/pages/index.md.erb
  templates/pages/partials/project/title_with_link.md.erb
Due: none

Add most important open-source projects
  assets/styles/projects.pcss
  templates/pages/index.md.erb
Due: stylelint

Improve the text on index page
  templates/pages/index.md.erb
Due: none

Fixed some spelling mistakes
  templates/pages/index.md.erb
Due: none

Fix CI error about `nodenv` initialization in Ruby tasks and vice-versa
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Remove deprecated Stylelint rules
  .stylelintrc.yaml
Due: stylelint

Fix new Stylelint offenses
  assets/styles/main.pcss
Due: stylelint

Update `package-lock.json` after `npm install`
  package-lock.json
Due: remark, stylelint, eslint

Add `psych` gem to dependencies
  Gemfile
  Gemfile.lock
Due: rubocop

Add `libyaml` to CI preparation
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Remove built-int `psych` Ruby gem
  Gemfile
Due: rubocop

Rename Rollup configuration file
  rollup.config.mjs
Due: none

Update Bundler version in `Gemfile.lock`
  Gemfile.lock
Due: rubocop

Ignore new Stylelint offenses
  assets/styles/main.pcss
Due: stylelint

Update Node.js version to 20.4.0
  .node-version
Due: none

Resolve NPM audit warnings
  package-lock.json
Due: remark, stylelint, eslint

Fix data linter
  .toys/data/lint.rb
Due: rubocop

Fix offense found by data linter
  data/projects/commercial.yaml
Due: none

Update `master` branch in CI config to `main`
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Add `data-lint` CI task
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Add `rbenv rehash` to `exe/setup/ruby.sh`
  exe/setup/ruby.sh
Due: none

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, package-lock.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, .remarkrc.yaml, **.md)
  stylelint: (any of: .cirrus.yaml, .gitignore, package.json, package-lock.json, browserslist, .stylelintrc.yaml, assets/styles/**) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .stylelintrc.yaml, assets/styles/**)
  eslint: (any of: .cirrus.yaml, .gitignore, package.json, package-lock.json, browserslist, .eslintrc.yaml, .eslintignore, assets/scripts/**) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .eslintrc.yaml, .eslintignore, assets/scripts/**)
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Gemfile.lock, .rubocop.yml, **.rb) or (any of: .cirrus.yml, .gitignore, Gemfile, .rubocop.yml, **.rb)
