Repository AlexWayfer/alexwayfer.name: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, rubocop

remark:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  container:
    image: node
  lint_script: npm run lint:markdown

stylelint:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  container:
    image: node
  lint_script: npm run lint:styles

eslint:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  container:
    image: node
  lint_script: npm run lint:scripts

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile.lock
  install_script:
  - gem install bundler
  - bundle install
  container:
    image: ruby:latest
  lint_script: toys rubocop --format=json --out=rubocop.json
  always:
    rubocop_artifacts:
  ...

Revert PostCSS upgrade to version 8
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Add `exe/dev.rb` for development with Filewatchers
  Gemfile
  Gemfile.lock
  exe/compile.rb
  exe/compile/all_command.rb
  exe/compile/assets_command.rb
  exe/compile/assets_command/all_command.rb
  exe/compile/assets_command/compile_command.rb
  exe/compile/assets_command/copy_command.rb
  exe/compile/pdf_command.rb
  exe/dev.rb
  filewatchers.yaml
Due: rubocop

Replace `name` in `package.json` with `private: true`
  package.json
Due: remark, stylelint, eslint

Split Porjects to commercial and personal
  assets/styles/projects.pcss
  data/projects.yaml
  templates/pages/index.md.erb
  templates/pages/partials/projects_list.md.erb
  templates/pages/projects.md.erb
Due: stylelint

Add `pry-byebug` development dependency
  Gemfile
  Gemfile.lock
  exe/_bundler_setup.rb
Due: rubocop

Add additional `exe/compile/` files for Filewatchers
  filewatchers.yaml
Due: none

Add list of recent commercial projects to the index page
  assets/styles/projects.pcss
  templates/pages/index.md.erb
Due: stylelint

Fix names of some commercial projects
  data/projects.yaml
Due: none

Move "Open-source" section below "Projects"
  templates/pages/index.md.erb
Due: none

Fix `.cirrus.yaml` file name after file rename
  .cirrus.yaml
Due: none

Use correct versions of Ruby and Node.js in CI
  .cirrus.yaml
Due: none

Add missing `curl` for OS setup
  .cirrus.yaml
Due: none

Improve fingerprint script for `rbenv` and `nodenv`
  .cirrus.yaml
Due: none

Add missing `bzip2` for OS setup[
  .cirrus.yaml
Due: none

Replace `debian` in CI with `archlinux`
  .cirrus.yaml
Due: none

Fix `install` scripts for Bundle and Node modules caches
  .cirrus.yaml
Due: none

Fix system dependencies for CI
  .cirrus.yaml
Due: none

Don't update system at CI, try to speed it up
  .cirrus.yaml
Due: none

Simplify fingerprint scripts for caches
  .cirrus.yaml
Due: none

Add `.ruby-version` and `.node-version` into CI's `only_if`
  .cirrus.yaml
Due: none

Split technologies into categories
  data/projects/commercial.yaml
  data/projects/job_tests.yaml
  data/projects/personal.yaml
  templates/pages/partials/project/technologies.md.erb
Due: none

Fail `remark` on any warning
  package.json
Due: remark, stylelint, eslint

Abort page compiling when Markdown lint fails
  exe/compile/pages_command.rb
Due: rubocop

Add job tests to projects
  data/projects.yaml
  data/projects/commercial.yaml
  data/projects/job_tests.yaml
  data/projects/personal.yaml
  exe/compile/data.rb
  exe/compile/pages_command.rb
  exe/compile/view_object.rb
  templates/pages/index.md.erb
  templates/pages/partials/project/date_and_duration.md.erb
  templates/pages/partials/project/dates_range.md.erb
  templates/pages/partials/project/description.md.erb
  templates/pages/partials/project/position.md.erb
  templates/pages/partials/project/technologies.md.erb
  templates/pages/partials/project/title_with_link.md.erb
  templates/pages/partials/projects_list.md.erb
  templates/pages/partials/projects_list/commercial.md.erb
  templates/pages/partials/projects_list/job_tests.md.erb
  templates/pages/partials/projects_list/personal.md.erb
  templates/pages/projects.md.erb
Due: rubocop

Fix `package-lock.json` after Depfu
  package-lock.json
Due: remark, stylelint, eslint

Make fingerscript of `node_modules_cache` in CI more accurate
  .cirrus.yaml
Due: none

Resolve low security issue in Node modules
  package-lock.json
Due: remark, stylelint, eslint

Fix `lint:markdown` script
  package.json
Due: remark, stylelint, eslint

Fix hashes in personal projects
  templates/pages/partials/project/position.md.erb
  templates/pages/partials/projects_list/commercial.md.erb
  templates/pages/partials/projects_list/personal.md.erb
Due: none

Revert "Update all npm dependencies (2020-12-17)"
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Add Bootstrap to technologies
  data/projects/commercial.yaml
Due: none

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
  Gemfile.lock
Due: rubocop

Update Ruby, Bundle and Bundler itself
  .ruby-version
  Gemfile.lock
Due: none

Ignore IDEA config files
  .gitignore
Due: remark, stylelint, eslint, rubocop

Update Ruby and Node.js dependencies
  .node-version
  .ruby-version
  Gemfile
  Gemfile.lock
  exe/compile/pages_command.rb
  exe/compile/pdf_command.rb
  package-lock.json
  package.json
Due: remark, stylelint, eslint, rubocop

Update Stylelint
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Fix Stylelint errors
  .stylelintrc.yaml
  assets/styles/main.pcss
Due: stylelint

Try to fix `rbenv` and `nodenv` setup in CI
  .cirrus.yaml
Due: none

Return normal output for RuboCop in CI
  .cirrus.yaml
Due: none

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, package-lock.json, .remarkrc.yaml, **.md
  stylelint: any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .stylelintrc.yaml, assets/styles/**
  eslint: any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .eslintrc.yaml, .eslintignore, assets/scripts/**
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, .rubocop.yml, **.rb
