Repository AlexWayfer/alexwayfer.name: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, bundle-audit, rubocop

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, .remarkrc.yaml, **.md)
  stylelint: (any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, browserslist, .stylelintrc.yaml, assets/styles/**) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .stylelintrc.yaml, assets/styles/**)
  eslint: (any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, browserslist, .eslintrc.yaml, .eslintignore, assets/scripts/**) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .eslintrc.yaml, .eslintignore, assets/scripts/**)
  bundle-audit: any of: .cirrus.yaml, .gitignore, .ruby-version, Gemfile, Gemfile.lock
  rubocop: (any of: .cirrus.yaml, .gitignore, .ruby-version, Gemfile, Gemfile.lock, .rubocop.yml, **.rb) or (any of: .cirrus.yml, .gitignore, Gemfile, .rubocop.yml, **.rb)

Update Ruby gems
  Gemfile.lock
Due: bundle-audit, rubocop

Resolve new RuboCop offenses
  .toys/data/lint.rb
  exe/compile/pages_command.rb
  exe/compile/view_object.rb
Due: rubocop

Replace `require:` with `plugins:` for RuboCop plugins
  .rubocop.yml
Due: rubocop

Remove private rules for Data Linting constants
  .toys/data/lint.rb
Due: rubocop

Update Ruby to version 4.0
  .ruby-version
Due: bundle-audit, rubocop

Update Bundle
  Gemfile.lock
Due: bundle-audit, rubocop

Remove weird `ostruct` requirement
  exe/compile/data.rb
  exe/compile/view_object.rb
Due: rubocop

Update Node.js packages
  package-lock.json
Due: remark, stylelint, eslint

Update Node.js packages to new major versions
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Update ESLint configuration
  .eslintignore
  .eslintrc.yaml
  eslint.config.js
  package.json
Due: remark, stylelint, eslint

Update Node.js version
  .node-version
Due: remark, stylelint, eslint

Replace Cirrus CI configuration with GitHub Actions
  .cirrus.yaml
  .github/workflows/ci.yml
Due: remark, stylelint, eslint, bundle-audit, rubocop

Replace Cirrus CI badge with GHA
  README.md
Due: remark

Try to fix Bundle Audit in CI
  .github/workflows/ci.yml
Due: none

Try to fix data lint in CI
  .github/workflows/ci.yml
Due: none

Remove `ruby-version-file` from GHA config
  .github/workflows/ci.yml
Due: none

Add commercial experience in Flant
  data/projects/commercial.yaml
Due: none

Update PostCSS config for `type: module`
  postcss.config.js
Due: none

Update link to GH Actions badge
  README.md
Due: remark
