Repository AlexWayfer/alexwayfer.name: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, bundle-audit, rubocop

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, .remarkrc.yaml, **.md)
  stylelint: (any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, browserslist, .stylelintrc.yaml, assets/styles/**) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .stylelintrc.yaml, assets/styles/**)
  eslint: (any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, browserslist, .eslintrc.yaml, .eslintignore, assets/scripts/**) or (any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .eslintrc.yaml, .eslintignore, assets/scripts/**)
  bundle-audit: any of: .cirrus.yaml, .gitignore, .ruby-version, Gemfile, Gemfile.lock
  rubocop: (any of: .cirrus.yaml, .gitignore, .ruby-version, Gemfile, Gemfile.lock, .rubocop.yml, **.rb) or (any of: .cirrus.yml, .gitignore, Gemfile, .rubocop.yml, **.rb)

Fix config directory for config toys
  .toys/.toys.rb
Due: rubocop

Remove extra trash line from README
  README.md
Due: remark

Improve documentation about Certbot in README
  README.md
Due: remark

Fix an error after replacing `OpenStruct` with `Hash`
  templates/pages/partials/projects_list/commercial.md.erb
Due: none

Separate required fields for commercial and personal projects
  .toys/data/lint.rb
Due: rubocop

Replaced ll the time with very time
  templates/pages/index.md.erb
Due: none

Fixed some spelling mistakes
  templates/pages/index.md.erb
Due: none

Increase global font size
  assets/styles/main.pcss
  assets/styles/projects.pcss
Due: stylelint

Increase line height for all lists
  assets/styles/main.pcss
Due: stylelint

Fix project's headers IDs and (anchor) links to them
  exe/compile/pages_command.rb
  templates/pages/index.md.erb
  templates/pages/partials/project/title_with_link.md.erb
Due: rubocop

Remove target Ruby version for RuboCop
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses
  exe/compile/_base_command.rb
  exe/compile/assets_command/copy_command.rb
  exe/compile/pages_command.rb
  exe/compile/pdf_command.rb
  exe/compile/view_object.rb
Due: rubocop

Add canonical URL into HTML head
  exe/compile/pages_command.rb
  templates/pages/layout.html.erb
Due: rubocop

Fix error with project header ID
  templates/pages/index.md.erb
Due: none

Fix RuboCop offenses
  exe/compile/pages_command.rb
Due: rubocop

Resolve RuboCop offenses in `.toys/`
  .toys/data/lint.rb
Due: rubocop

Include `.toys/` files for RuboCop
  .rubocop.yml
Due: rubocop

Add a note about `twitch-api` gem maintenance
  data/projects/personal.yaml
Due: none

Fix `package-lock.json`
  package-lock.json
Due: remark, stylelint, eslint

Update Bundler version in `Gemfile.lock`
  Gemfile.lock
Due: bundle-audit, rubocop

Update toys dependencies
  Gemfile.lock
Due: bundle-audit, rubocop

Add Cirrus CI and Depfu badges into README
  README.md
Due: remark

Update `stylelint-no-unsupported-browser-features` for the new version of Stylelint
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Add Stylelint Stylistic
  .stylelintrc.yaml
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Update `package-lock.json` after `npm update`
  package-lock.json
Due: remark, stylelint, eslint

Ignore `css-nesting` Stylelint rule for PostCSS files
  .stylelintrc.yaml
Due: stylelint

Add uniCULT project
  data/projects/commercial.yaml
Due: none

Move gems for linting to a separate group
  Gemfile
Due: bundle-audit, rubocop

Remove version lock for RuboCop in `Gemfile`
  Gemfile
  Gemfile.lock
Due: bundle-audit, rubocop

Fix Markdown lint command in pages compilation
  exe/compile/pages_command.rb
Due: rubocop

Add RSpec
  .gitignore
  .rspec
  Gemfile
  Gemfile.lock
  spec/compilation/pages_spec.rb
  spec/spec_helper.rb
Due: remark, stylelint, eslint, bundle-audit, rubocop

Add RuboCop RSpec plugin
  .rubocop.yml
  Gemfile
  Gemfile.lock
Due: bundle-audit, rubocop

Fix HTML layout error with `<script>` tag
  templates/pages/layout.html.erb
Due: none

Add initial specs for index page
  .rubocop.yml
  spec/compilation/pages_spec.rb
Due: rubocop

Take out birthday from code to the profile config
  config/profile.example.yaml
  exe/compile/_base_command.rb
  exe/compile/pages_command.rb
Due: rubocop

Take out profile photo initialization from command instance method
  exe/compile/_base_command.rb
  exe/compile/pages_command.rb
Due: rubocop

Update compilation/dev/deploy instructions in README
  README.md
Due: remark
