Repository AlexWayfer/alexwayfer.name: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, rubocop

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile.lock
  install_script:
    - gem install bundler
    - bundle update

node_modules_cache: &node_modules_cache
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install

remark_task:
  container:
    image: node
  <<: *node_modules_cache

  lint_script: npm run lint:docs

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', 'package-lock.json', '.remarkrc.yaml', '**.md'
    )

stylelint_task:
  container:
    image: node
  <<: *node_modules_cache

  lint_script: npm run lint:styles

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', 'package-lock.json', 'browserslist',
      '.stylelintrc.yaml', 'styles/**'
    )

eslint_task:
  container:
    image: node
  <<: *node_modules_cache

  lint_script: npm run lint:scripts

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', 'package-lock.json', 'browserslist',
      '.eslintrc.yaml', '.eslintignore', 'styles/**'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache

  lint_script: bundle exec rubocop --format=json --out=rubocop.json

  always:
    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', '.rubocop.yml', '**.rb'
    )

Improve layout and text a bit for index page
  pages/index.md.erb
Due: none

Better approach for dark theme CSS, via variables
  assets/styles/dark-theme.pcss
  assets/styles/main.pcss
Due: none

Remove extra polyfill for SVG `<use>`
  .toys.rb
  assets/scripts/lib/svgxuse.min.js
  pages/layout.html.erb
Due: rubocop

Replace deprecated `xlink:href` for `<use>` with `href`
  pages/partials/svg_icon.html.erb
Due: none

Improve scripts for dark mode
  assets/scripts/main.js
  assets/styles/dark-theme.pcss
  pages/layout.html.erb
Due: none

Update Node.js packages
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Improvements for `compile` script
  .eslintrc.yaml
  Gemfile
  Gemfile.lock
  assets/scripts/.eslintrc.yaml
  config/profile.example.yaml
  exe/.eslintrc.yaml
  exe/compile.rb
  templates/site/pages/index.md.erb
  templates/site/pages/layout.html.erb
  templates/site/pages/projects.md.erb
  templates/site/partials/external_link.html.erb
  templates/site/partials/projects_list.md.erb
  templates/site/partials/svg_icon.html.erb
Due: eslint, rubocop

Replace `index.html` with `/`
  templates/site/pages/projects.md.erb
Due: none

Add pre-compiled PDF for downloading
  Gemfile
  Gemfile.lock
  exe/_bundler_setup.rb
  exe/compile.rb
  exe/compile/_base_command.rb
  exe/compile/assets_command.rb
  exe/compile/data.rb
  exe/compile/pdf_command.rb
  exe/compile/site_command.rb
  exe/compile/view_object.rb
  exe/deploy.rb
  package.json
  templates/pdf/footer.html.erb
  templates/pdf/header.html.erb
  templates/pdf/layout.html.erb
  templates/site/pages/index.md.erb
  templates/site/pages/layout.html.erb
Due: remark, stylelint, eslint, rubocop

Fix PDF path for downloading
  exe/compile/site_command.rb
Due: rubocop

Improve compilation code of profile photo
  exe/compile/site_command.rb
  templates/site/pages/index.md.erb
Due: rubocop

Fix EditorConfig for `*.md.erb` files
  .editorconfig
Due: none

Take out `pages` command, allow to compile only site's pages
  exe/compile.rb
  exe/compile/all_command.rb
  exe/compile/pages_command.rb
  exe/compile/pdf_command.rb
  templates/pages/index.md.erb
  templates/pages/layout.html.erb
  templates/pages/partials/external_link.html.erb
  templates/pages/partials/projects_list.md.erb
  templates/pages/partials/svg_icon.html.erb
  templates/pages/projects.md.erb
  templates/pdf/partials/footer.html.erb
  templates/pdf/partials/header.html.erb
  templates/pdf/partials/layout.html.erb
Due: rubocop

Add "Position" for projects
  data/projects.yaml
  templates/pages/partials/projects_list.md.erb
Due: none

Fix Bundle cache for CI
  .cirrus.yml
Due: remark, stylelint, eslint, rubocop

Fix new offenses from RuboCop 0.90
  exe/compile/_base_command.rb
  exe/compile/pages_command.rb
Due: rubocop

Fix CI `only_if` for RuboCop
  .cirrus.yml
Due: remark, stylelint, eslint, rubocop

Remove fixed RuboCop disabling
  exe/compile/pages_command.rb
Due: rubocop

Replace custom `rubocop` toys tool with built-in one
  .toys.rb
Due: rubocop

Drop `rubocop` toys, just use `bundle exec`
  .cirrus.yml
  .toys.rb
Due: remark, stylelint, eslint, rubocop

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Add `remark-gfm` for a new `remark` version
  .remarkrc.yaml
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Update Ruby, Node.js and packages
  .node-version
  .ruby-version
  package-lock.json
Due: remark, stylelint, eslint

Add `nowrap` for links
  assets/styles/main.pcss
Due: none

Update projects information
  data/projects.yaml
Due: none

Highlight some moments from CodersRank and Projects
  templates/pages/index.md.erb
Due: none

Partially revert #51
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Switch from git-version of `moments` to release
  Gemfile
  Gemfile.lock
Due: rubocop

Replace "CTO" with "CIO" and other roles
  assets/styles/projects.pcss
  data/projects.yaml
  templates/pages/partials/projects_list.md.erb
Due: none

Add "Sequel" technology where appropriate
  data/projects.yaml
Due: none

Add months to project dates, add a linter for them
  .rubocop.yml
  .toys/.toys.rb
  .toys/data/lint.rb
  data/projects.yaml
  templates/pages/partials/projects_list.md.erb
Due: rubocop

Split projects `dates` into `begin_date` and `end_date`
  .toys/data/lint.rb
  data/projects.yaml
  templates/pages/partials/projects_list.md.erb
Due: rubocop

Add `duration` for projects
  Gemfile
  Gemfile.lock
  exe/compile.rb
  exe/compile/data.rb
  exe/compile/pages_command.rb
  templates/pages/partials/projects_list.md.erb
Due: rubocop

Re-order projects from recent to old
  data/projects.yaml
Due: none
