Repository AlexWayfer/alexwayfer.name: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, rubocop

remark:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  container:
    image: node
  lint_script: npm run lint:docs

stylelint:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  container:
    image: node
  lint_script: npm run lint:styles

eslint:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  container:
    image: node
  lint_script: npm run lint:scripts

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile.lock
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop --format=json --out=rubocop.json
  always:
    rubocop_artifacts:
  ...

Increase `margin-bottom` for `body`
  styles/main.pcss
Due: stylelint, eslint

Fix `deploy.sh` script for new sctructure
  deploy.sh
Due: none

Remove version from `package.json` file
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Add `.ruby-version` and `.node-version` files
  .node-version
  .ruby-version
Due: none

Small improvements for compile tool
  compile.rb
Due: rubocop

Supplement projects information
  data/projects.yaml
Due: none

Tune information on index page a bit
  pages/index.md
Due: remark

Fix `compile` script
  compile.rb
Due: rubocop

Add `target="_blank'"` for links in projects descriptions
  data/projects.yaml
Due: none

Small improvement for index page
  pages/index.md
Due: remark

Fix line break for "Contacts" section
  pages/index.md
Due: remark

Fix header and footer text alignments
  pages/layout.html.erb
  styles/main.pcss
Due: stylelint, eslint

Bit update, add dark theme
  .cirrus.yml
  .eslintignore
  .gitignore
  .stylelintignore
  .stylelintrc.yaml
  .toys.rb
  Gemfile
  Gemfile.lock
  README.md
  assets/icomoon/selection.json
  assets/images/icons/symbol-defs.svg
  assets/scripts/lib/svgxuse.min.js
  assets/scripts/main.js
  assets/styles/dark-theme.pcss
  assets/styles/lib/icomoon.css
  assets/styles/main.pcss
  assets/styles/projects.pcss
  config/deploy.example.yaml
  config/nginx.example.conf
  data/projects.yaml
  deploy.sh
  exe/_common.rb
  exe/_common.sh
  exe/compile.rb
  exe/deploy.rb
  exe/setup.sh
  exe/setup/node.sh
  exe/setup/ruby.sh
  package.json
  pages/layout.html.erb
  scripts/main.js
Due: remark, stylelint, eslint, rubocop

Fix CI (RuboCop)
  Gemfile
  Gemfile.lock
Due: rubocop

Exclude IE 11 from `browserslist`
  browserslist
Due: stylelint, eslint

Add "Back to top" button
  assets/icomoon/selection.json
  assets/images/icons/symbol-defs.svg
  assets/scripts/main.js
  assets/styles/lib/icomoon.css
  assets/styles/main.pcss
  exe/compile.rb
  pages/_svg_icon.html.erb
  pages/layout.html.erb
Due: rubocop

Set size of theme switch button more correctly
  assets/styles/main.pcss
Due: none

Remove unused `ignore` config of `no-unsupported-browser-features` Stylelint plugin
  .stylelintrc.yaml
Due: stylelint

Improve section of my English
  pages/index.md
Due: remark

Adjust `max-line-length` of Stylelint to our common 100
  .stylelintrc.yaml
Due: stylelint

Adjust "Back to top" button for narrow screens (mobiles)
  .stylelintrc.yaml
  assets/styles/main.pcss
  package-lock.json
  package.json
  pages/_svg_icon.html.erb
  pages/layout.html.erb
  postcss.config.js
Due: remark, stylelint, eslint

Add transitions for theme switching
  .stylelintrc.yaml
  assets/styles/dark-theme.pcss
  package-lock.json
  package.json
  postcss.config.js
Due: remark, stylelint, eslint

Decrease theme transition duration
  assets/styles/dark-theme.pcss
Due: none

Add photo of me
  assets/images/photo.jpg
  assets/styles/main.pcss
  exe/compile.rb
  pages/_svg_icon.html.erb
  pages/index.md
Due: remark, rubocop

Rename `lint:docs` command to `lint:markdown`
  .cirrus.yml
  package.json
Due: remark, stylelint, eslint, rubocop

Decrease the scroll threshold for "Back to top" button
  assets/scripts/main.js
Due: none

Improve text, take out external links attributes
  data/projects.yaml
  exe/compile.rb
  pages/_svg_icon.html.erb
  pages/index.md
  pages/layout.html.erb
  pages/partials/external_link.md.erb
  pages/partials/svg_icon.html.erb
  pages/projects.md
Due: remark, rubocop

Update Node.js packages
  package-lock.json
  package.json
Due: remark, stylelint, eslint

Lint temporary Markdown pages before compiling into HTML
  exe/compile.rb
  package.json
Due: remark, stylelint, eslint, rubocop

Add icons to external links
  assets/icomoon/selection.json
  assets/images/icons/symbol-defs.svg
  assets/styles/main.pcss
  data/projects.yaml
  exe/compile.rb
  pages/index.md.erb
  pages/layout.html.erb
  pages/partials/external_link.html.erb
  pages/partials/external_link.md.erb
  pages/partials/svg_icon.html.erb
  pages/projects.md.erb
Due: rubocop

Fix external link icons color in dark theme
  assets/styles/dark-theme.pcss
Due: none

Update `nginx` config example
  config/nginx.example.conf
Due: none

Add mtime parameter to URL of photo of me
  pages/index.md.erb
Due: none

Replace JPG photo with JPEG
  assets/images/photo.jpeg
  pages/index.md.erb
Due: none

Fix `compile` script for JPEG files
  exe/compile.rb
Due: rubocop

Add WebP version of my photo as Google asks
  assets/images/photo.webp
  exe/compile.rb
  pages/index.md.erb
Due: rubocop

Add `defer` attribute to scripts as Google asked
  pages/layout.html.erb
Due: none

Add Open Graph meta tags
  exe/compile.rb
  pages/index.md.erb
  pages/layout.html.erb
Due: rubocop

Improve print styles, display projects list on the index for it
  assets/styles/dark-theme.pcss
  assets/styles/main.pcss
  exe/compile.rb
  pages/index.md.erb
  pages/layout.html.erb
  pages/partials/projects_list.md.erb
  pages/projects.md.erb
Due: rubocop

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, package-lock.json, .remarkrc.yaml, **.md
  stylelint: any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .stylelintrc.yaml, styles/**
  eslint: any of: .cirrus.yml, .gitignore, package.json, package-lock.json, browserslist, .eslintrc.yaml, .eslintignore, styles/**
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, .rubocop.yml, **.rb
